# Build Workflow

name: Build

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.head_ref || format('{0}-{1}', github.ref, github.run_number) }}
  cancel-in-progress: true

jobs:
  build:
    name: Build

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
          cache: 'gradle'

      - uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            **/loom-cache
            **/prebundled-jars
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Chmod Gradle
        run: chmod +x ./gradlew

      - name: Download and extract fml-loom
        run: wget https://github.com/XiaoYuOvO/fml-loom/releases/download/0.1/fml-loom-0.1.local-repo.zip && unzip fml-loom-0.1.local-repo.zip -d ~/.m2/repository/

      - name: Copy MITE-1.6.4 in cache
        run: mkdir ~/.gradle/ && mkdir ~/.gradle/caches/ && mkdir ~/.gradle/caches/fml-loom/ && mkdir ~/.gradle/caches/fml-loom/1.6.4-MITE/ cp ./1.6.4-MITE.jar ~/.gradle/caches/fml-loom/1.6.4-MITE/

      - name: Build
        run: ./gradlew build --no-daemon

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: build/libs/
